body{
    background-image: url("levelselect.png");
}

div{
 background-color: green;
 text-align: center;
 line-height: 300%;
 font-size: 300%;
 border-color: white;
 border-style: solid;
 border-width: 0.1px;
}