body{
	background-color: steelblue;

}

h1{
 text-align: center;
 font-size: 300%;
 max-width: 90%;
 margin-left: 5%;
 margin-right: 5%;
 background-color: white;
 border-width: thick;
 border-color: purple;
 border-style: solid;

}
h2{
 text-align: center;
 font-size: 400%;
 background-color: white;
 max-width: 75%;
 margin-right: 12.5%;
 margin-left: 12.5%;
 border-width: thick;
 border-color: green;
 border-style: solid;

}